<!DOCTYPE html>
<html>
<head>
    <title>Phần mềm quản lý banhaisan.com </title>
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/css/style-metro.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/css/style-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/css/themes/default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
</head>
<body class="fixed-top">
    <div class="header navbar navbar-inverse navbar-fixed-top">
        @Html.Action("Header", "Common")
    </div>
    <div id="dialog-system">
    </div>
    <div class="container body-content" style=" margin:0 auto;width:1140px; background-color: #FFF;min-height:calc(100%);" id="main-content">
        @RenderBody()
    </div>
    <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Location.js")" type="text/javascript"></script>
    <script type="text/javascript">
        main_frame.init();
    </script>
    @RenderSection("Script", false)
</body>
</html>
