@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <ul class="social-btns col4">
            <li class="fb" style="float:left;width:100%;">
                @*<a data-type="fb" value="" style="float:left;width:100%;" >
                    <i class="fa fa-facebook"></i>
                    <label>Đăng nhập bằng</label>&nbsp;<span>FaceBook</span>
                </a>*@
                <button type="submit" name="provider" value="facebook" title="">
                    <i class="fa fa-facebook"></i>
                    <label>Đăng nhập bằng</label>&nbsp;<span>FaceBook</span>
                </button>
            </li>
            <li class="gg" style="float:left;width:100%;">
                @*<a data-type="gg" style="float:left;width:100%;">
                    <i class="fa fa-google-plus"></i>
                    <label>Đăng nhập bằng</label>&nbsp;<span>Google+</span>
                </a>*@
                <button type="submit" name="provider" value="Google" title="">
                    <i class="fa fa-google-plus"></i>
                    <label>Đăng nhập bằng</label>&nbsp;<span>Google+</span>
                </button>
            </li>

        </ul>
        
    foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
        }
    }
}

        @*foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
        }*@