@model MvcApplication1.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    }

<div class="login-container" ng-controller="LoginController as login" >
    <div class="login-container-left">
        <img src="//static.foody.vn/s1/style/images/test/register-image.png">
    </div>
    <div class="login-container-right">
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="login-form-head">
                <div class="login-title">Đăng nhập</div>
                <div class="login-register-link">
                    <a href="/dang-ky">Tạo tài khoản</a>
                </div>
            </div>
            <table class="login-layout">
                <tbody>
                    <tr>
                        <td>
                            @Html.ValidationSummary()
                        </td>
                    </tr>
                    <tr>
                        <td class="input-login-control" style="width:100%;" >@Html.TextBoxFor(m => m.UserName, new {@style="width:100%;",placeholder="Email hoặc Username " })</td>
                    </tr>
                    <tr>
                        <td class="input-login-control" style="width:100%;">@Html.PasswordFor(m => m.Password, new {@style="width:100%;",placeholder="Mật khẩu" }) </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="float:left;" >
                                <input type="checkbox"  ng-model="login.remember_me"  /> Nhớ tài khoản <br />
                                <input type="hidden" name="RememberMe"  value="{{login.remember_me}}" />
                                <a href="/quen-mat-khau" title="Quên mật khẩu?">Quên mật khẩu?</a>
                            </div>
                            <div style="float:right;">
                                <button class="loginbutton" type="submit">Đăng nhập</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>hoặc đăng nhập bằng</h4>
                            <div class="social-icon">
                                <ul>
                                    <li class="fb"><a provider="1" href="#"></a></li>
                                    <li class="gl"><a provider="2" href="#"></a></li>
                                    <li class="yh"><a provider="3" href="#"></a></li>
                                    <li class="in"><a provider="6" href="#"></a></li>
                                    <li class="tw"><a provider="5" href="#"></a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
