@using SeafoodEntity
@model MvcApplication1.Models.RegisterInfoModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="register-container" ng-controller="RegisterController">
    <div class="register-container-left">
        <img src="//static.foody.vn/s1/style/images/test/register-image.png">
    </div>
    <div class="register-container-right">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "RegisterForm", id = "RegisterForm", ng_submit = "register_submit()" }))
        {
            @Html.AntiForgeryToken()
            <div class="register-form-head">
                <div class="register-title">Đăng ký tài khoản</div>
                <div class="register-register-link">
                    <a href="/dang-nhap">Đăng nhập</a>
                </div>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td colspan="3">
                            @Html.ValidationSummary()
                        </td>
                    </tr>
                    <tr>
                        <td class="label-register-control">Tên:</td>
                        <td class="input-register-control" >@Html.TextBoxFor(m => m.FirstName, new { ng_blur = "firstname_lost_focus(firstname)", ng_model = "firstname" })</td>
                        <td class="validate-control">
                            <img ng-src="{{firstname_validate}}" ng-show="firstname_validate_show" alt="icon" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label-register-control">Họ:</td>
                        <td  class="input-register-control">@Html.TextBoxFor(m => m.LastName, new { ng_blur = "lastname_lost_focus(lastname)", ng_model = "lastname" })</td>
                        <td class="validate-control">
                            <img ng-src="{{lastname_validate}}" ng-show="lastname_validate_show" alt="icon" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label-register-control">Email:</td>
                        <td class="input-register-control">@Html.TextBoxFor(m => m.UserEmail, new { ng_blur = "email_lost_focus(email)", ng_model = "email", type = "email" })</td</tr>
                        <td class="validate-control">
                            <img ng-src="{{email_validate}}" ng-show="email_validate_show" alt="icon" />
                        </td>
                    <tr>
                        <td class="label-register-control">Tỉnh/Thành phố:</td>
                        <td class="input-register-control">@Html.DropDownListFor((m => m.CityCode), Model.LstCity.Select(o => new SelectListItem() { Value = o.CityCode, Text = o.CityName }), new { style = "border: 1px solid #ddd;padding: 12px;font-size: 14px;margin-right: 5px;width: 303px;" })</td>
                        <td class="validate-control">
                            <img  src="~/Content/img/correct-icon.png" style="display: none;" alt="icon" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label-register-control">Mật khẩu:</td>
                        <td class="input-register-control">
                            @Html.PasswordFor(m => m.Password, new { ng_blur="pwd_lost_focus(pwd)" ,ng_model ="pwd" })
                        </td>
                        <td class="validate-control">
                            <img ng-src="{{pwd_validate}}" ng-show="pwd_validate_show" alt="icon" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label-register-control">Nhập lại mật khẩu:</td>
                        <td class="input-register-control">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { ng_blur="confirm_pwd_lost_focus(confirm_pwd)" ,ng_model ="confirm_pwd" })
                        </td>
                        <td class="validate-control">
                            <img ng-src="{{confirm_pwd_validate}}" ng-show="confirm_pwd_validate_show" alt="icon" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label-register-control">Mã bảo vệ</td>
                        <td>
                            <div class="g-recaptcha" data-sitekey="6Lfu7R4UAAAAALjKGlWfQf8O7ttXc9VqW7CMdJsY"></div>
                        </td>
                        <td class="validate-control">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td >
                            <input type="checkbox" /> Tôi đồng ý với các quy định của Foody.vn
                        </td>
                        <td class="validate-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Đăng kí" /></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            
            <br />
            
        }
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
