<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"  />
        <title>Địa điểm ăn uống, ẩm thực, ăn gì ở đâu tại Hà Nội, nhà hàng, cafe | Ăn uống | Foody.vn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/Main.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/fixed_layout.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/select_control.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/search_box.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/header_menu_select.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/header_app.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/banner.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/main_content.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/lastest_news.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/top_user_friend.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/footer_categoty_statistic.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/footer_admobile.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/footer_addtional_tool_and_company.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/register_container.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/account_manager.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/login_dialog.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/notification.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/navaddbuttons.css" type="text/css" rel="stylesheet" />
    </head>
    <body ng-app="SeaFoodyApp" show-menubar-always-on-top >
        <div class="header">
            <div class="wraper-img banner-header-top">
                @Html.Partial("~/Views/Menu/_BannerHeaderTopPartial.cshtml")
            </div>
            <div class="header-menu">
                @Html.Partial("~/Views/Menu/_TopbarPartial.cshtml")
            </div>
            <div class="header-toolbar" id="header-toolbar">
                <div class="header-toolbar-wraper">
                    <a href="#" class="logo"> <img src="~/Content/img/foody-vn.png" alt="Foody.vn" /> </a>
                    @Html.Action("GetAllCity","City")
                    @Html.Action("GetAll", "Category")
                    @Html.Partial("~/Views/MainPageSearch/_SearchBarTopPartial.cshtml")
                    @Html.Partial("~/Views/Menu/_HeaderMenuSelect.cshtml")
                    <div class="header-apps">
                        <a href="/ung-dung-mobile" target="_blank"><span class="fa fa-mobile"></span>&nbsp;Apps</a>
                    </div>
                    <div class="longin-box-and-language" style="float:right;font-size:14px;">
                        @Html.Action("IsAuthenticated", "Home")
                    </div>
                </div>
            </div>
        </div>
        <div id="body" class="main-content">
            @*<div class="main-content-left">
                @Html.Partial("~/Views/Shared/_LeftContent_MainPagePartial.cshtml")
            </div>*@
            @*<div class="main-content-right">
                <div class="tool-right-content">
                    <ul>
                        <!-- ngIf: IsDelivery && IsHideDealTab == false -->
                        <li><a href="javascript:void(0)" ng-class="{'current':Type==1}" ng-click="ChangeType(1)" class="current">Mới nhất</a></li>
                        <li><a href="javascript:void(0)" ng-class="{'current':Type==3}" ng-click="ChangeType(3)">Gần tôi</a></li>
                        <li></li>
                        <li><a href="javascript:void(0)" ng-class="{'current':Type==5}" ng-click="ChangeType(5)">Đã lưu</a></li>
                        <li style="float: right;" ng-hide="IsDelivery &amp;&amp; Type==6">
                            <select ng-model="DistrictId" ng-change="Filter()" id="slDistrictPlace" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <option value="">- Quận/Huyện -</option>
                                    <option value="25">Hoan Kiem District</option>
                                    <option value="28">Tay Ho District</option>
                                    <option value="20">Ba Dinh District</option>
                                    <option value="29">Thanh Xuan District</option>
                                    <option value="24">Hai Ba Trung District</option>
                                    <option value="22">Dong Da District</option>
                                    <option value="21">Cau Giay District</option>
                                    <option value="26">Hoang Mai District</option>
                                    <option value="27">Long Bien District</option>
                                    <option value="23">Ha Dong District</option>
                                    <option value="945">South Tu Liem District</option>
                                    <option value="690">Bac Tu Liem District</option>
                                    <option value="674">Ba Vi</option>
                                    <option value="675">Chuong My</option>
                                    <option value="676">Dan Phuong</option>
                                    <option value="677">Dong Anh</option>
                                    <option value="678">Gia Lam</option>
                                    <option value="679">Hoai Duc</option>
                                    <option value="680">Me Linh</option>
                                    <option value="681">My Duc</option>
                                    <option value="682">Phu Xuyen</option>
                                    <option value="683">Phu Tho</option>
                                    <option value="684">Quoc Oai</option>
                                    <option value="685">Soc Son</option>
                                    <option value="686">Thach That</option>
                                    <option value="687">Thanh Oai</option>
                                    <option value="688">Thanh Tri</option>
                                    <option value="689">Thuong Tin</option>
                                    <option value="691">Ung Hoa</option>
                                    <option value="692">Son Tay</option>
                            </select>
                        </li>
                        <li style="float: right;" ng-hide="IsDelivery &amp;&amp; Type==6">
                            <select ng-model="CuisineId" ng-change="Filter()" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <option value="">- Ẩm thực -</option>
                                    <option value="2">Miền Bắc</option>
                                    <option value="4">Trung Hoa</option>
                                    <option value="7">Miền Trung</option>
                                    <option value="12">Miền Nam</option>
                                    <option value="16">Ấn Độ</option>
                                    <option value="17">Thái Lan</option>
                                    <option value="18">Ý</option>
                                    <option value="19">Pháp</option>
                                    <option value="20">Đức</option>
                                    <option value="21">Nhật Bản</option>
                                    <option value="22">Hàn Quốc</option>
                                    <option value="25">Thụy sĩ</option>
                                    <option value="29">Tây Nguyên</option>
                                    <option value="30">Singapore</option>
                                    <option value="31">Malaysia</option>
                                    <option value="32">Brazil</option>
                                    <option value="33">Mỹ</option>
                                    <option value="35">Tây Ban Nha</option>
                                    <option value="37">Indonesia</option>
                                    <option value="38">Campuchia</option>
                                    <option value="39">Mexico</option>
                                    <option value="40">Canada</option>
                                    <option value="41">Ả Rập</option>
                                    <option value="42">Philippines</option>
                                    <option value="43">Thổ Nhĩ Kỳ</option>
                                    <option value="44">Tiệp (Séc)</option>
                                    <option value="46">Argentina</option>
                                    <option value="51">Đài Loan</option>
                                    <option value="52">Bánh Pizza</option>
                                    <option value="53">Iran</option>
                            </select>
                        </li>
                        <li style="float: right;" ng-hide="IsDelivery &amp;&amp; Type==6">
                            <select ng-model="CateId" ng-change="Filter()" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <option value="">- Danh mục -</option>
                                    <option value="12">Sang trọng</option>
                                    <option value="39">Buffet</option>
                                    <option value="1">Nhà hàng</option>
                                    <option value="11">Ăn vặt/vỉa hè</option>
                                    <option value="56">Ăn chay</option>
                                    <option value="2">Café/Dessert</option>
                                    <option value="3">Quán ăn</option>
                                    <option value="4">Bar/Pub</option>
                                    <option value="54">Quán nhậu</option>
                                    <option value="43">Beer club</option>
                                    <option value="6">Tiệm bánh</option>
                                    <option value="44">Tiệc tận nơi</option>
                                    <option value="27">Shop Online</option>
                                    <option value="28">Giao cơm văn phòng</option>
                                    <option value="79">Khu Ẩm Thực</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="writer-content">
                    <div class="content-item">
                        <div class="avatar">
                            <a href="/ha-noi/an-vat-an-trach" ng-href="/ha-noi/an-vat-an-trach" target="_blank" ng-click="ClickGA(item,'O_DAU_', $index, DistrictId, '#slDistrictPlace option:selected')" ng-init="ImpressionGa(item,'O_DAU_', $index, DistrictId, '#slDistrictPlace option:selected')">
                                <img ng-style="{'background':item.MobileBgColor}" src="https://media.foody.vn/res/g26/252832/prof/s640x400/foody-mobile-2-jpg-606-636034201553247191.jpg" ng-src="https://media.foody.vn/res/g26/252832/prof/s640x400/foody-mobile-2-jpg-606-636034201553247191.jpg">
                            </a>
                        </div>
                        <div class="items-content">
                            <div class="review-points" ng-class="{'green':item.AvgRating>=6,'grey':item.AvgRating==0 || item.AvgRating==null} ">
                                <span class="ng-binding">5.0</span>
                            </div>
                            <div class="title fd-text-ellip">
                                <a href="/ha-noi/an-vat-an-trach" target="_blank"  class="ng-binding">Ăn Vặt An Trạch</a>
                            </div>
                            <div class="desc fd-text-ellip" >116 An Trạch, Quận Đống Đa, Hà Nội</div>
                        </div>
                        <div class="items-review" >
                            <div class="avatar">
                                <a href="/thanh-vien/Tuyenoc" ng-href="/thanh-vien/Tuyenoc" target="_blank">
                                    <img ng-src="https://media.foody.vn/default/s100/user-default-female.png" src="https://media.foody.vn/default/s100/user-default-female.png">
                                </a>
                            </div>
                            <div class="users-content">
                                <a ng-href="/thanh-vien/Tuyenoc" target="_blank" href="/thanh-vien/Tuyenoc">
                                    <b >Tuyến Ốc</b>
                                </a>
                                <a ng-href="/ha-noi/an-vat-an-trach/binh-luan-1477804" target="_blank" href="/ha-noi/an-vat-an-trach/binh-luan-1477804">Quán đã chuyển về ngõ 126 hào nam rồi các bạn nhé</a>
                            </div>
                        </div>
                        <div class="items-count">
                            <a ng-click="ShowPopupReviews(item.Id)"><i class="fa fa-comment"></i> <span ng-bind="item.TotalReviews|formatNK:1" class="ng-binding">1</span></a>
                            <a ng-click="ShowPopupGallery(item.Id)"><i class="fa fa-camera"></i> <span ng-bind="item.TotalPictures|formatNK:1" class="ng-binding">6</span></a>
                            <i class="fa fa-bookmark"></i> <span ng-bind="item.TotalSaves|formatNK:1" class="ng-binding">0</span>
                            <a href="javascript:void(0)" class="item-save tool-custom-list-add" data-id="252832">
                                <i class="fa fa-bookmark"></i>
                                <span>Lưu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@
            @RenderBody()
        </div>
        <div id="tab-footer-top-friend-user" class="microsite-banner-edge" style="background-color: #fff; padding: 20px 0; float: left; clear: both; width: 100%;">
            <ul class="home-tab" style="width: 1170px; margin: 0 auto;"><li class="active">
                <a href="#tab-footer-top-user" style="padding: 15px 0; margin-right: 60px;">Top Thành viên</a></li>
            </ul>
            <div id="tab-footer-top-user" style="display: block;">
                <div class="footer-down-app-wrap" style="background:#fff;height:140px;margin-bottom:-20px; width: 1170px; margin: 0 auto;"><div class="footer-down-app">
                    <div class="footer-friends">
                        <div class="items">
                            <div class="footer-friends-data">
                                <a href="/thanh-vien/0908758242" rel="nofollow">
                                    <span style="position: relative">
                                        <img src="https://media.foody.vn/usr/g196/1953660/avt/c60x60/0908758242-avatar-885-636139606342232460.jpg" alt="0908758242" title="0908758242">
                                    </span>
                                    <span class="user-name">06/04/2017 .</span>
                                </a>
                            </div>
                        </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/vovu1995" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g219/2189945/avt/c60x60/vovu1995-avatar-611-636325612969933864.jpg" alt="vovu1995" title="vovu1995">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name"> Vũ Võ</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/ddminh24h" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g191/1904943/avt/c60x60/foody-avatar-817-636305264756869145.jpg" alt="ddminh24h" title="ddminh24h">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">Minh Đỗ</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/p3_can15" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g183/1820047/avt/c60x60/p3_can15-avatar-364-636319069820204784.jpg" alt="p3_can15" title="p3_can15">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">trakity 1518</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/nhhdvh97" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g42/415013/avt/c60x60/foody-avatar-943-636313942385514430.jpg" alt="nhhdvh97" title="nhhdvh97">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">Huy Nguyễn</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/nam.tn.9999" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g140/1396036/avt/c60x60/nam-tn-9999-avatar-774-636175686690067025.jpg" alt="nam.tn.9999" title="nam.tn.9999">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">Nhật  Nam</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/chimie102" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g89/882687/avt/c60x60/chimie102-avatar-169-636207933848135024.jpg" alt="chimie102" title="chimie102">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">Linh Chim</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/windynguyen11995" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g42/413092/avt/c60x60/windynguyen11995-avatar-881-636323388053465322.jpg" alt="windynguyen11995" title="windynguyen11995">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">👑 M i n h A n n 👑</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/italiho" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g837/8368419/avt/c60x60/italiho-avatar-920-636259645902021932.jpg" alt="italiho" title="italiho">
                </span>
                <span class="user-name">Italiho Hồ</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/nachhilfe.tran" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g36/354504/avt/c60x60/foody-avatar-997-636290051810387618.jpg" alt="nachhilfe.tran" title="nachhilfe.tran">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">Tra Tran</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/pebap_lovely" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g95/945545/avt/c60x60/foody-avatar-695-636196904493137612.jpg" alt="pebap_lovely" title="pebap_lovely">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">Nga Trần</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/tranthuysieuha" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g19/189216/avt/c60x60/tranthuysieuha-avatar-860-636258156064474308.jpg" alt="tranthuysieuha" title="tranthuysieuha">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">Thủy Trần</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/oanh.do.0811" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g226/2254738/avt/c60x60/foody-avatar-512-636139688771614880.jpg" alt="oanh.do.0811" title="oanh.do.0811">
                </span>
                <span class="user-name">Oanh đỗ</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/chaupham815" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g130/1292369/avt/c60x60/chaupham815-avatar-783-636312350456001261.jpg" alt="chaupham815" title="chaupham815">
                <span class="checked-verified-icon top-user-annual-points"></span>
                </span>
                <span class="user-name">Ashley Sugary</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/thanh-vien/cloverelric" rel="nofollow">
                <span style="position: relative">
                <img src="https://media.foody.vn/usr/g63/624800/avt/c60x60/cloverelric-avatar-504-636251184263368290.jpg" alt="cloverelric" title="cloverelric">
                </span>
                <span class="user-name">Clover  Elric</span>
                </a>
                </div>
                </div>
                <div class="items">
                <div class="footer-friends-data">
                <a href="/ha-noi/top-thanh-vien">
                <span class="more">Top</span>
                <div>View more</div>
                </a>
                </div>
                </div>
                </div>
                </div></div></div>
        </div>
        <div class="footer-category-statistic">
            <ul class="footer-categories fw-padding">
                <li>
                    <div class="fc-title">Danh mục</div>
                    <ul>
                        <li class="">
                            <a href="/ha-noi/sang-trong">
                                <label>Sang trọng</label>
                                <span>(81)</span>
                            </a>
                        </li>
<li class="">
<a href="/ha-noi/nha-hang">
<label>Nhà hàng</label>
<span>(2602)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/buffet">
<label>Buffet</label>
<span>(83)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/an-vat-via-he">
<label>Ăn vặt/vỉa hè</label>
<span>(3262)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/cafe">
<label>Café/Dessert</label>
<span>(6017)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/an-chay">
<label>Ăn chay</label>
<span>(90)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/quan-an">
<label>Quán ăn</label>
<span>(10091)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/bar-pub">
<label>Bar/Pub</label>
<span>(245)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/quan-nhau">
<label>Quán nhậu</label>
<span>(1128)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/beer-club">
<label>Beer club</label>
<span>(79)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/karaoke">
<label>Karaoke</label>
<span>(639)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/tiem-banh">
<label>Tiệm bánh</label>
<span>(788)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/khu-du-lich">
<label>Thăm quan &amp; chụp ảnh</label>
<span>(48)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/billiards">
<label>Billiards</label>
<span>(106)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/tiec-cuoi-hoi-nghi">
<label>Tiệc cưới/Hội nghị</label>
<span>(142)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/cua-hang">
<label>Shop/Cửa hàng</label>
<span>(1674)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/giai-tri">
<label>Rạp chiếu phim</label>
<span>(32)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/spa-massage">
<label>Spa/Massage</label>
<span>(892)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/khach-san">
<label>Khách sạn</label>
<span>(902)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/khu-nghi-duong">
<label>Khu nghỉ dưỡng</label>
<span>(17)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/du-lich-sinh-thai">
<label>Du lịch sinh thái</label>
<span>(33)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/lam-toc">
<label>Làm tóc/Gội đầu/Nối mi</label>
<span>(6186)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/the-duc-tham-my">
<label>Thể dục thẩm mỹ</label>
<span>(222)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/tiem-nail">
<label>Tiệm nail</label>
<span>(1532)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/cong-vien-vui-choi">
<label>Công viên vui chơi</label>
<span>(21)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/bao-tang-di-tich">
<label>Bảo tàng &amp; Di tích</label>
<span>(19)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/cham-soc-da">
<label>Chăm sóc da</label>
<span>(315)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/shop-hoa-my-pham">
<label>Shop hóa mỹ phẩm</label>
<span>(681)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-danh">
<label>Chùa &amp; Nhà thờ</label>
<span>(23)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/san-khau">
<label>Sân khấu</label>
<span>(11)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/khu-choi-game">
<label>Khu chơi Game</label>
<span>(50)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/tiec-tan-noi">
<label>Tiệc tận nơi</label>
<span>(9)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/shop-online">
<label>Shop Online</label>
<span>(1042)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/giao-com-van-phong">
<label>Giao cơm văn phòng</label>
<span>(55)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/ho-boi-san-van-dong">
<label>Thể dục thể thao</label>
<span>(249)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/sieu-thi">
<label>Siêu thị</label>
<span>(116)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/trung-tam-thuong-mai">
<label>Trung tâm thương mại</label>
<span>(22)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/tham-my-vien">
<label>Thẩm mỹ viện</label>
<span>(225)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/xam-hinh">
<label>Xăm hình</label>
<span>(80)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/chup-hinh-cuoi">
<label>Chụp hình cưới</label>
<span>(364)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/trang-diem">
<label>Trang điểm</label>
<span>(93)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/ao-cuoi">
<label>Áo cưới</label>
<span>(176)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/hoa-cuoi">
<label>Hoa cưới - Shop hoa</label>
<span>(264)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/tiec-tai-gia">
<label>Tiệc tại gia</label>
<span>(27)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/phong-ve-may-bay">
<label>Phòng Vé Máy Bay</label>
<span>(280)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/phong-kham">
<label>Phòng khám</label>
<span>(1027)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/nha-khoa">
<label>Nha khoa</label>
<span>(576)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/nha-thuoc">
<label>Nhà thuốc</label>
<span>(2963)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/benh-vien">
<label>Bệnh viện</label>
<span>(102)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dai-hoc-cao-dang">
<label>Đại Học &amp; Cao Đẳng</label>
<span>(116)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/trung-tam-giao-duc">
<label>Trung tâm giáo dục</label>
<span>(85)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/trung-tam-ngoai-ngu">
<label>Trung tâm ngoại ngữ</label>
<span>(237)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/nha-sach-thu-vien">
<label>Nhà sách &amp; Thư viện</label>
<span>(145)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/nha-tre-mau-giao">
<label>Nhà trẻ &amp; Mẫu giáo</label>
<span>(1444)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/trung-hoc-pho-thong">
<label>Trung học &amp; Phổ Thông</label>
<span>(426)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/truong-day-nghe">
<label>Trường dạy nghề</label>
<span>(24)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/bank-atm">
<label>Bank - ATM</label>
<span>(1681)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/tram-xang">
<label>Trạm xăng</label>
<span>(67)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/vien-thong">
<label>Viễn thông</label>
<span>(190)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/van-tai">
<label>Vận tải</label>
<span>(1150)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/giat-ui">
<label>Giặt ủi</label>
<span>(399)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/vat-nuoi">
<label>Vật nuôi</label>
<span>(11)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/cho">
<label>Chợ</label>
<span>(23)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/tru-so-ban-nganh">
<label>Trụ Sở Ban Ngành</label>
<span>(45)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/online-shopping">
<label>Mua sắm Online</label>
<span>(15)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dich-vu-ve-sinh">
<label>Dịch Vụ Vệ Sinh</label>
<span>(1)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dich-vu-van-chuyen-do-dac">
<label>Dịch Vụ Vận Chuyển Đồ Đạc </label>
<span>(1)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/phuong-tien-xe-co">
<label>Phương Tiện - Xe Cộ</label>
<span>(353)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/home-stay">
<label>Homestay</label>
<span>(35)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/can-ho">
<label>Căn hộ</label>
<span>(33)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/nha-nghi">
<label>Nhà nghỉ</label>
<span>(34)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/hang-du-lich">
<label>Hãng Du Lịch</label>
<span>(18)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/Foodcourt">
<label>Khu Ẩm Thực</label>
<span>(17)</span>
</a>
</li></ul>
<a class="fc-more">+ Xem thêm</a></li>
<li><div class="fc-title">Ẩm thực</div><ul>
<li class="">
<a href="/ha-noi/dia-diem-phong-cach-viet-nam">
<label>Việt Nam</label>
<span>(132763)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phong-cach-chau-a">
<label>Châu Á</label>
<span>(7236)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phong-cach-tay-au">
<label>Tây Âu</label>
<span>(2175)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phong-cach-chau-my">
<label>Châu Mỹ</label>
<span>(673)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phong-cach-dong-au">
<label>Đông Âu</label>
<span>(117)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phong-cach-uc">
<label>Úc</label>
<span>(59)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phong-cach-bac-au">
<label>Bắc Âu</label>
<span>(16)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phong-cach-quoc-te">
<label>Quốc tế</label>
<span>(3005)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phong-cach-trung-dong">
<label>Trung Đông</label>
<span>(19)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phong-cach-chau-phi">
<label>Châu Phi</label>
<span>(13)</span>
</a>
</li></ul>
<a class="fc-more">+ Xem thêm</a></li>
<li><div class="fc-title">Phù hợp với mục đích</div><ul>
<li class="">
<a href="/ha-noi/dia-diem-phu-hop-an-vat">
<label>Ăn vặt</label>
<span>(7025)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phu-hop-an-gia-dinh">
<label>Ăn gia đình</label>
<span>(11597)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phu-hop-hen-ho">
<label>Hẹn hò</label>
<span>(8781)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phu-hop-bbq">
<label>BBQ - Món Nướng</label>
<span>(642)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phu-hop-hop-nhom">
<label>Họp nhóm</label>
<span>(11868)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-phu-hop-dai-tiec">
<label>Đãi tiệc</label>
<span>(1390)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-an-chay">
<label>Ăn chay</label>
<span>(125)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-giao-tan-noi">
<label>Giao tận nơi</label>
<span>(1407)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-uong-bia-nhau">
<label>Uống bia - Nhậu</label>
<span>(3586)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-hat-ho">
<label>Hát hò</label>
<span>(764)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-chup-hinh-quay-phim">
<label>Chụp hình - Quay phim</label>
<span>(163)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-tiep-khach">
<label>Tiếp khách</label>
<span>(3829)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-an-binh-dan-quan-coc">
<label>Ăn bình dân - Quán Cóc</label>
<span>(5908)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-buffet">
<label>Buffet</label>
<span>(219)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-takeaway-mang-ve">
<label>Takeaway - Mang về</label>
<span>(11188)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-to-chuc-tiec-cuoi">
<label>Tổ chức tiệc cưới</label>
<span>(188)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-ngam-canh">
<label>Ngắm cảnh</label>
<span>(422)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-thu-gian">
<label>Thư giãn</label>
<span>(6960)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-doc-sach-hoc-bai">
<label>Đọc sách - học bài</label>
<span>(506)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-nghe-nhac">
<label>Nghe nhạc</label>
<span>(1104)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-du-lich">
<label>Du lịch</label>
<span>(226)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-an-fastfood">
<label>Ăn Fastfood</label>
<span>(1074)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-tiep-khach-sang-trong">
<label>Tiếp khách sang trọng</label>
<span>(355)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-picnic">
<label>Dã Ngoại</label>
<span>(13)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-danh-cho-nam-gioi">
<label>Dành cho Nam giới</label>
<span>(163)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-tiec-ngoai-troi">
<label>Tiệc ngoài trời</label>
<span>(96)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-xem-phim-hd">
<label>Xem phim HD</label>
<span>(91)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-tiec-tan-noi">
<label>Tiệc tận nơi</label>
<span>(110)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-to-chuc-hoi-thao">
<label>Tổ chức hội thảo</label>
<span>(129)</span>
</a>
</li>
<li class="fc-hide">
<a>
<label>Mua sắm</label>
<span>(1422)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-phu-hop-an-choi-ngay-tet">
<label>Ăn chơi ngày Tết</label>
<span>(11)</span>
</a>
</li></ul>
<a class="fc-more">+ Xem thêm</a></li>
<li><div class="fc-title">Tiện nghi</div><ul>
<li class="">
<a href="/ha-noi/dia-diem-co-cho-mua-ve">
<label>Cho mua về</label>
<span>(17947)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-co-wifi">
<label>Có wifi</label>
<span>(15444)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-co-giu-xe-may-mien-phi">
<label>Giữ xe máy miễn phí</label>
<span>(37687)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-co-giao-hang">
<label>Có giao hàng</label>
<span>(4792)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-co-ban-ngoai-troi">
<label>Có bàn ngoài trời</label>
<span>(7712)</span>
</a>
</li>
<li class="">
<a href="/ha-noi/dia-diem-co-may-lanh">
<label>Có máy lạnh &amp; điều hòa</label>
<span>(14868)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-dat-ban-truoc">
<label>Nên đặt trước</label>
<span>(9084)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-cho-dau-oto">
<label>Có chỗ đậu ôtô</label>
<span>(4795)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-phong-rieng">
<label>Có phòng riêng</label>
<span>(3075)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-chieu-bong-da">
<label>Có chiếu bóng đá</label>
<span>(425)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-khu-vuc-hut-thuoc">
<label>Có khu vực hút thuốc</label>
<span>(1665)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-cho-choi-cho-tre-em">
<label>Có chỗ chơi cho trẻ em</label>
<span>(357)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-karaoke">
<label>Có karaoke</label>
<span>(682)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-xuat-hoa-don-do">
<label>Có xuất hóa đơn đỏ</label>
<span>(1589)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-tra-bang-the">
<label>Trả bằng thẻ</label>
<span>(2137)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-ho-tro-hoi-thao">
<label>Có hỗ trợ hội thảo</label>
<span>(430)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-nhac-song">
<label>Có nhạc sống</label>
<span>(304)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-tip-cho-nhan-vien">
<label>Tip cho nhân viên</label>
<span>(254)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-the-thanh-vien">
<label>Có thẻ thành viên</label>
<span>(844)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-ho-tro-nguoi-khuyet-tat">
<label>Có hỗ trợ người khuyết tật</label>
<span>(89)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-lo-suoi">
<label>Có lò sưởi</label>
<span>(108)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-ho-boi">
<label>Có hồ bơi</label>
<span>(111)</span>
</a>
</li>
<li class="fc-hide">
<a href="/ha-noi/dia-diem-co-san-tennis">
<label>Sân Tennis</label>
<span>(69)</span>
</a>
</li>
<li class="fc-hide">
<a>
<label>Ăn Sáng Miễn Phí</label>
<span>(4)</span>
</a>
</li>
<li class="fc-hide">
<a>
<label>Spa &amp; Massage</label>
<span>(13)</span>
</a>
</li>
<li class="fc-hide">
<a>
<label>Đồ Ăn Tận Phòng</label>
<span>(5)</span>
</a>
</li>
<li class="fc-hide">
<a>
<label>Nhà Hàng</label>
<span>(41)</span>
</a>
</li>
<li class="fc-hide">
<a>
<label>Phòng Gym</label>
<span>(9)</span>
</a>
</li></ul>
<a class="fc-more">+ Xem thêm</a></li></ul>
        </div>
        @Html.Partial("~/Views/Footer/_AdMobile.cshtml")
        @Html.Partial("~/Views/Footer/_AdditionalToolAndCompany.cshtml")
        @Html.Action("ShowLoginDialog", "Account")
        <script src="~/Scripts/angular.min.js" type="text/javascript"></script>
        <script src="~/Scripts/MainModule.js" type="text/javascript"></script>
        <script src="~/Scripts/Directives/ClickAnyWhereButHere.js" type="text/javascript"></script>
        <script src="~/Scripts/Directives/ShowMenuBarAlwaysOnTop.js" type="text/javascript"></script>
        <script src="~/Scripts/Services/DialogLoginService.js" type="text/javascript"></script>
        <script src="~/Scripts/CityController.js" type="text/javascript"></script>
        <script src="~/Scripts/CategoryController.js" type="text/javascript"></script>
        <script src="~/Scripts/LoginDialogController.js" type="text/javascript"></script>
        <script src="~/Scripts/MenuLoginController.js" type="text/javascript"></script>
        <script src="~/Scripts/AdditionalNavigationController.js" type="text/javascript"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
