<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"  />
        <title>Địa điểm ăn uống, ẩm thực, ăn gì ở đâu tại Hà Nội, nhà hàng, cafe | Ăn uống | Foody.vn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/Main.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/fixed_layout.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/select_control.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/search_box.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/header_menu_select.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/header_app.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/banner.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/main_content.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/lastest_news.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/top_user_friend.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/footer_categoty_statistic.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/footer_admobile.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/footer_addtional_tool_and_company.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/register_container.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/account_manager.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/login_dialog.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/notification.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/navaddbuttons.css" type="text/css" rel="stylesheet" />
        <link href="~/Content/add_location.css" type="text/css" rel="stylesheet" />
    </head>
    <body ng-app="SeaFoodyApp" show-menubar-always-on-top >
        <div class="header">
            <div class="wraper-img banner-header-top">
                @Html.Partial("~/Views/Menu/_BannerHeaderTopPartial.cshtml")
            </div>
            <div class="header-menu">
                @Html.Partial("~/Views/Menu/_TopbarPartial.cshtml")
            </div>
            <div class="header-toolbar" id="header-toolbar">
                <div class="header-toolbar-wraper">
                    <a href="#" class="logo"> <img src="~/Content/img/foody-vn.png" alt="Foody.vn" /> </a>
                    @Html.Action("GetAllCity","City")
                    @Html.Action("GetAll", "Category")
                    @Html.Partial("~/Views/MainPageSearch/_SearchBarTopPartial.cshtml")
                    @Html.Partial("~/Views/Menu/_HeaderMenuSelect.cshtml")
                    <div class="header-apps">
                        <a href="/ung-dung-mobile" target="_blank"><span class="fa fa-mobile"></span>&nbsp;Apps</a>
                    </div>
                    <div class="longin-box-and-language" style="float:right;font-size:14px;">
                        @Html.Action("IsAuthenticated", "Home")
                    </div>
                </div>
            </div>
        </div>
        <div id="body" class="main-content">
            @*<div class="main-content-left">
                @Html.Partial("~/Views/Shared/_LeftContent_MainPagePartial.cshtml")
            </div>*@
            @*<div class="main-content-right">
                <div class="tool-right-content">
                    <ul>
                        <!-- ngIf: IsDelivery && IsHideDealTab == false -->
                        <li><a href="javascript:void(0)" ng-class="{'current':Type==1}" ng-click="ChangeType(1)" class="current">Mới nhất</a></li>
                        <li><a href="javascript:void(0)" ng-class="{'current':Type==3}" ng-click="ChangeType(3)">Gần tôi</a></li>
                        <li></li>
                        <li><a href="javascript:void(0)" ng-class="{'current':Type==5}" ng-click="ChangeType(5)">Đã lưu</a></li>
                        <li style="float: right;" ng-hide="IsDelivery &amp;&amp; Type==6">
                            <select ng-model="DistrictId" ng-change="Filter()" id="slDistrictPlace" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <option value="">- Quận/Huyện -</option>
                                    <option value="25">Hoan Kiem District</option>
                                    <option value="28">Tay Ho District</option>
                                    <option value="20">Ba Dinh District</option>
                                    <option value="29">Thanh Xuan District</option>
                                    <option value="24">Hai Ba Trung District</option>
                                    <option value="22">Dong Da District</option>
                                    <option value="21">Cau Giay District</option>
                                    <option value="26">Hoang Mai District</option>
                                    <option value="27">Long Bien District</option>
                                    <option value="23">Ha Dong District</option>
                                    <option value="945">South Tu Liem District</option>
                                    <option value="690">Bac Tu Liem District</option>
                                    <option value="674">Ba Vi</option>
                                    <option value="675">Chuong My</option>
                                    <option value="676">Dan Phuong</option>
                                    <option value="677">Dong Anh</option>
                                    <option value="678">Gia Lam</option>
                                    <option value="679">Hoai Duc</option>
                                    <option value="680">Me Linh</option>
                                    <option value="681">My Duc</option>
                                    <option value="682">Phu Xuyen</option>
                                    <option value="683">Phu Tho</option>
                                    <option value="684">Quoc Oai</option>
                                    <option value="685">Soc Son</option>
                                    <option value="686">Thach That</option>
                                    <option value="687">Thanh Oai</option>
                                    <option value="688">Thanh Tri</option>
                                    <option value="689">Thuong Tin</option>
                                    <option value="691">Ung Hoa</option>
                                    <option value="692">Son Tay</option>
                            </select>
                        </li>
                        <li style="float: right;" ng-hide="IsDelivery &amp;&amp; Type==6">
                            <select ng-model="CuisineId" ng-change="Filter()" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <option value="">- Ẩm thực -</option>
                                    <option value="2">Miền Bắc</option>
                                    <option value="4">Trung Hoa</option>
                                    <option value="7">Miền Trung</option>
                                    <option value="12">Miền Nam</option>
                                    <option value="16">Ấn Độ</option>
                                    <option value="17">Thái Lan</option>
                                    <option value="18">Ý</option>
                                    <option value="19">Pháp</option>
                                    <option value="20">Đức</option>
                                    <option value="21">Nhật Bản</option>
                                    <option value="22">Hàn Quốc</option>
                                    <option value="25">Thụy sĩ</option>
                                    <option value="29">Tây Nguyên</option>
                                    <option value="30">Singapore</option>
                                    <option value="31">Malaysia</option>
                                    <option value="32">Brazil</option>
                                    <option value="33">Mỹ</option>
                                    <option value="35">Tây Ban Nha</option>
                                    <option value="37">Indonesia</option>
                                    <option value="38">Campuchia</option>
                                    <option value="39">Mexico</option>
                                    <option value="40">Canada</option>
                                    <option value="41">Ả Rập</option>
                                    <option value="42">Philippines</option>
                                    <option value="43">Thổ Nhĩ Kỳ</option>
                                    <option value="44">Tiệp (Séc)</option>
                                    <option value="46">Argentina</option>
                                    <option value="51">Đài Loan</option>
                                    <option value="52">Bánh Pizza</option>
                                    <option value="53">Iran</option>
                            </select>
                        </li>
                        <li style="float: right;" ng-hide="IsDelivery &amp;&amp; Type==6">
                            <select ng-model="CateId" ng-change="Filter()" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <option value="">- Danh mục -</option>
                                    <option value="12">Sang trọng</option>
                                    <option value="39">Buffet</option>
                                    <option value="1">Nhà hàng</option>
                                    <option value="11">Ăn vặt/vỉa hè</option>
                                    <option value="56">Ăn chay</option>
                                    <option value="2">Café/Dessert</option>
                                    <option value="3">Quán ăn</option>
                                    <option value="4">Bar/Pub</option>
                                    <option value="54">Quán nhậu</option>
                                    <option value="43">Beer club</option>
                                    <option value="6">Tiệm bánh</option>
                                    <option value="44">Tiệc tận nơi</option>
                                    <option value="27">Shop Online</option>
                                    <option value="28">Giao cơm văn phòng</option>
                                    <option value="79">Khu Ẩm Thực</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="writer-content">
                    <div class="content-item">
                        <div class="avatar">
                            <a href="/ha-noi/an-vat-an-trach" ng-href="/ha-noi/an-vat-an-trach" target="_blank" ng-click="ClickGA(item,'O_DAU_', $index, DistrictId, '#slDistrictPlace option:selected')" ng-init="ImpressionGa(item,'O_DAU_', $index, DistrictId, '#slDistrictPlace option:selected')">
                                <img ng-style="{'background':item.MobileBgColor}" src="https://media.foody.vn/res/g26/252832/prof/s640x400/foody-mobile-2-jpg-606-636034201553247191.jpg" ng-src="https://media.foody.vn/res/g26/252832/prof/s640x400/foody-mobile-2-jpg-606-636034201553247191.jpg">
                            </a>
                        </div>
                        <div class="items-content">
                            <div class="review-points" ng-class="{'green':item.AvgRating>=6,'grey':item.AvgRating==0 || item.AvgRating==null} ">
                                <span class="ng-binding">5.0</span>
                            </div>
                            <div class="title fd-text-ellip">
                                <a href="/ha-noi/an-vat-an-trach" target="_blank"  class="ng-binding">Ăn Vặt An Trạch</a>
                            </div>
                            <div class="desc fd-text-ellip" >116 An Trạch, Quận Đống Đa, Hà Nội</div>
                        </div>
                        <div class="items-review" >
                            <div class="avatar">
                                <a href="/thanh-vien/Tuyenoc" ng-href="/thanh-vien/Tuyenoc" target="_blank">
                                    <img ng-src="https://media.foody.vn/default/s100/user-default-female.png" src="https://media.foody.vn/default/s100/user-default-female.png">
                                </a>
                            </div>
                            <div class="users-content">
                                <a ng-href="/thanh-vien/Tuyenoc" target="_blank" href="/thanh-vien/Tuyenoc">
                                    <b >Tuyến Ốc</b>
                                </a>
                                <a ng-href="/ha-noi/an-vat-an-trach/binh-luan-1477804" target="_blank" href="/ha-noi/an-vat-an-trach/binh-luan-1477804">Quán đã chuyển về ngõ 126 hào nam rồi các bạn nhé</a>
                            </div>
                        </div>
                        <div class="items-count">
                            <a ng-click="ShowPopupReviews(item.Id)"><i class="fa fa-comment"></i> <span ng-bind="item.TotalReviews|formatNK:1" class="ng-binding">1</span></a>
                            <a ng-click="ShowPopupGallery(item.Id)"><i class="fa fa-camera"></i> <span ng-bind="item.TotalPictures|formatNK:1" class="ng-binding">6</span></a>
                            <i class="fa fa-bookmark"></i> <span ng-bind="item.TotalSaves|formatNK:1" class="ng-binding">0</span>
                            <a href="javascript:void(0)" class="item-save tool-custom-list-add" data-id="252832">
                                <i class="fa fa-bookmark"></i>
                                <span>Lưu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>*@
            @RenderBody()
        </div>
        @Html.Partial("~/Views/UserInformation/_TopUser.cshtml")
        @Html.Partial("~/Views/Category/_Statistic.cshtml")
        @Html.Partial("~/Views/Footer/_AdMobile.cshtml")
        @Html.Partial("~/Views/Footer/_AdditionalToolAndCompany.cshtml")
        @Html.Action("ShowLoginDialog", "Account")
        <script src="~/Scripts/angular.min.js" type="text/javascript"></script>
        <script src="~/Scripts/MainModule.js" type="text/javascript"></script>
        <script src="~/Scripts/Directives/ClickAnyWhereButHere.js" type="text/javascript"></script>
        <script src="~/Scripts/Directives/ShowMenuBarAlwaysOnTop.js" type="text/javascript"></script>
        <script src="~/Scripts/Services/DialogLoginService.js" type="text/javascript"></script>
        <script src="~/Scripts/CityController.js" type="text/javascript"></script>
        <script src="~/Scripts/CategoryController.js" type="text/javascript"></script>
        <script src="~/Scripts/LoginDialogController.js" type="text/javascript"></script>
        <script src="~/Scripts/MenuLoginController.js" type="text/javascript"></script>
        <script src="~/Scripts/AdditionalNavigationController.js" type="text/javascript"></script>
        <script src="~/Scripts/LocationForCreateController.js" type="text/javascript"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
