@using SeafoodEntity;
@model List<Location>
@{
    Layout = null;
}
<table id="tablRegisteredInvitee" class="table-striped table-bordered" style="width: 100%">
    <thead>
        <tr>
            <th style="width: 300px">Tên địa điểm</th>
            <th>Địa chỉ</th>
            <th style="width: 150px">Trạng thái</th>
            <th style="width: 120px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LocationName </td>
                <td>@item.Address </td>
                <td>@(item.IsApproved == true ? "Đã duyệt" : "Chưa duyệt") </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary small dropdown-toggle" style="font-size:11px !important;line-height:13px;padding:4px 10px;" type="button" data-toggle="dropdown">
                            <i class="icon-cog"></i>&nbsp;Quản lý
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a name="btnEdit" data-id="@item.LocationId"  href="javascript:void(0);"><i class="icon-edit"></i>&nbsp;Sửa</a></li>
                            <li><a name="btnDelete" data-id="@item.LocationId"  href="javascript:void(0);"><i class="icon-trash"></i>&nbsp;Xóa</a></li>
                            <li><a name="btnApprove" data-id="@item.LocationId"  href="javascript:void(0);"><i class="icon-check"></i>&nbsp;Duyệt</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
    </table